__pycache__
cobrassm.egg-info

# Ignore virtual environment
venv/
ENV/
amd_env/

# Ignore Python cache
__pycache__/
*.py[cod]
*$py.class

# Ignore IDE files
.vscode/
.idea/

# Ignore distribution files
dist/
build/
*.egg-info/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore OS files
.DS_Store
Thumbs.db

test_model/
cobra_trained/
test_save/